/*Общие стили*/
body {
    width: 1920px;
    margin: 0 auto;
    box-sizing: border-box;
}

/*Стили для header*/

.main-header {
    width: 100%;
    margin: 0;
    padding: 40px 150px;
    box-sizing: border-box;
    min-height: 1024px;
    background-image: url(../img/header-backimg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #44423f;
}

.main-header-wrp1 {
    width: 100%;
    min-height: 56px;
    margin: 0 0 285px 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-link-header {
    text-decoration: none;
    box-sizing: border-box;
    margin: 0 219px 0 0;
    padding: 0;
    width: 179px;
    height: 56px;
    display: flex;
}

.logo-img {
    fill: #fff;
}

.logo-link-header:hover .logo-img {
    fill: #c7b299;
}

.logo-link-header:hover .logo-txt {
    color: #c7b299;
}

.logo-link-header:active .logo-img {
    fill: #fff;
}

.logo-link-header:active .logo-txt {
    color: #fff;
}

.logo-txt {
    box-sizing: border-box;
    width: 115px;
    margin: 0;
    padding: 11px 0;
    font-family: 'Raleway', sans-serif;
    font-size: 31px;
    line-height: 31px;
    font-weight: 400;
    letter-spacing: 0.05em;
    color: #fff;
}

.main-header-nav {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.main-header-nav-link {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 300;
    color: #fff;
    text-decoration: none;
    margin: 0 30px 0 0;
    padding: 0;
}

.main-header-nav-link:last-child {
    margin: 0;
}

.main-header-nav-link:hover {
    color: #c7b299;
}

.main-header-nav-link:active {
    color: #fff;
}

.main-header-basket {
    margin: 0 0 0 53px;
    padding: 0;
    box-sizing: border-box;
    width: 18px;
    height: 24px;
    border: 0;
    outline: none;
    background-color: transparent;
}

.img-basket {
    fill: #fff;
}

.img-basket:hover {
    fill: #c7b299;
}

.img-basket:active {
    fill: #fff;
}

.main-header-search {
    box-sizing: border-box;
    margin: 0 0 0 28px;
    padding: 0;
}

.main-header-search-click {
    width: 24px;
    height: 24px;
    outline: none;
    background-image: url(../img/search-white.png);
    background-size: contain;
    background-repeat: no-repeat;
    border: 1px solid gray;
    outline: none;
    background-position: left;
    background-color: transparent;
    border: 0;
}

.main-header-search-click::placeholder {
    color: transparent;
}

.main-header-search-click:focus {
    width: 300px;
    transition: width 1s ease-out;
    background-position: right;
    background-color: #fff;
    padding: 2px 10px;
    background-image: url(../img/search-black.png);
    border-radius: 3px;
}

.main-header-search-click:focus::placeholder {
    color: #44423f;
}

.fa-search {
    font-size: 24px;
    color: #fff;
}

.main-header-wrp2 {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 603px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

.main-header-switch1,
.main-header-switch2 {
    box-sizing: border-box;
    border-top: 3px double #fff;
    border-left: 3px double #fff;
    border-bottom: 0;
    border-right: 0;
    margin: 95px 0 0;
    padding: 0;
    width: 40px;
    height: 40px;
    opacity: 0.5;
    background-color: transparent;
    outline: none;
}

.main-header-switch1 {
    transform: rotate(-45deg);
}

.main-header-switch2 {
    transform: rotate(135deg);
}

.main-header-switch1:hover,
.main-header-switch2:hover {
    border-color: #c7b299;
}

.main-header-switch1:active,
.main-header-switch2:active {
    border-color: #fff;
}

.main-header-content {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 590px;
    font-family: 'Raleway', sans-serif;
    color: #fff;
    text-align: center;
}

.main-header-title1,
.main-header-title2 {
    display: block;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main-header-title1 {
    font-size: 34px;
    line-height: 34px;
    font-weight: 500;
    margin-bottom: 14px;
}

.main-header-title2 {
    font-size: 52px;
    line-height: 52px;
    font-weight: 800;
    margin-bottom: 19px;
}

.main-header-txt {
    box-sizing: border-box;
    margin: 0 0 52px 0;
    padding: 0 14px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    word-break: break-all;
    word-wrap: break-word;
}

.main-header-started {
    display: block;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 20px 10px;
    width: 170px;
    min-height: 54px;
    background-color: #998675;
    border-radius: 3px;
    font-size: 14px;
    line-height: 14px;
    font-weight: 800;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    word-break: break-all;
}

.main-header-started:hover {
    border-color: #998675;
    color: #998675;
    background-color: #fff;
}

.main-header-started:active {
    color: #fff;
    background-color: #998675;
}

.main-header-pag {
    box-sizing: border-box;
    margin: 0 0 0;
    padding: 0;
    width: 100%;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-header-circle-pag {
    box-sizing: border-box;
    margin: 0 10px 0 0;
    padding: 0;
    width: 11px;
    height: 11px;
    border-radius: 50px;
    opacity: 0.5;
    background-color: #fff;
}

.main-header-circle-pag:hover {
    width: 15px;
    height: 15px;
    margin-right: 6px;
    border: 2.0px solid #d3c1ad;
    background-color: transparent;
}

/*Стили для main*/

main {
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Стили для services*/

.services {
    width: 100%;
    min-height: 373px;
    margin: 0;
    padding: 80px 377px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

.services-link {
    width: 266px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    word-wrap: break-word;
    text-align: center;
}

.services-link:after {
    content: "";
    display: block;
    box-sizing: border-box;
    margin: 30px auto 0;
    padding: 0;
    width: 70px;
    height: 3px;
    background-color: #f1eee9;
}

.services-link:hover .services-svg {
    fill: #998675;
}

.services-link:hover .services-link-title {
    color: #998675;
}

.services-link:hover:after {
    background-color: #998675;
}

.services-link:active .services-svg {
    fill: #555555;
}

.services-link:active .services-link-title {
    color: #555;
}

.services-link:active:after {
    background-color: #f1eee9;
}

.services-svg {
    fill: #555555;
}

.services-link-title {
    display: block;
    margin: 29px 0 19px;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    line-height: 1.2;
    font-weight: 600;
    color: #555;
}

.services-link-txt {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    color: #8c8c8c;
    text-indent: 1.2em;
    word-break: break-all;
    word-wrap: break-word;
}

/*Стили для waxom-realization*/

.waxom-realization {
    width: 100%;
    min-height: 700px;
    margin: 0;
    padding: 83px 345px 0;
    box-sizing: border-box;
    background-color: #fbfaf8;
    text-align: center;
}

.waxom-realization-title {
    display: block;
    margin: 0 0 24px;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    line-height: 30px;
    font-weight: 600;
    color: #555;
}

.waxom-realization-txt {
    margin: 0 0 40px;
    padding: 0 236px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 23px;
    font-weight: 300;
    color: #8c8c8c;
    word-wrap: break-word;
    word-break: break-all;
}

.waxom-realization-img {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 482px;
    background-image: url('../img/waxom_realization_img1.jpg'), url('../img/waxom_realization_img2.jpg'), url('../img/waxom_realization_img3.jpg');
    background-size: 770px 483px, 770px 400px, 770px 400px;
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: center, left bottom, right bottom;
}

/*Стили для textboxes*/

.textboxes {
    width: 100%;
    min-height: 150px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f5f8;
    background-image: linear-gradient(90.0deg, #211b19 0%, #4e3427 100%);
}
